<% # We seed the canvas id to be sent back in drawing messages %>
<script>window.canvasID = <%= Draw.UserSocket.canvas_id %></script>
<canvas id="draw-canvas" class="bordered" width="600" height="600">
</canvas>
